
$color1: rgba(68, 175, 105, 1); // #44AF69 //
$color2: rgba(248, 51, 60, 1); // #F8333C //
$color3: rgba(252, 171, 16, 1); // #FCAB10 //
$color4: rgba(43, 158, 179, 1); // #2B9EB3 //
$color5: rgba(219, 213, 181, 1); // #DBD5B5 //


html,
body {
  height: 100%;
}